<div class='row'>
  <div class='span4'>
    <ul class='level-list'>
      <%= render :partial => 'shared/level_list_item',  :object => @level %>
    </ul>
  </div>
  <div class='span8'>
    <table class='table table-striped'>
      <tr>
        <th></th>
        <th>Attempts</th>
        <th>Time</th>
        <th></th>
      </tr>
      <% @level.level_wins.each do |lw| %>
        <tr>
          <td><%= lw.user.nil? ? 'Anonymous Coward' : link_to(lw.user.username, user_path(lw.user)) %></td>
          <td><%= lw.attempts %></td>
          <td><%= lw.time/1000 %></td>
          <td><%= link_to 'Replay', replay_path(lw) if !lw.game_state.nil? %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>