<% @title = @user.username %>
<div class='row'>
  <div class='span4'>
  <h3>Personal Details</h3>
    <p>
      <b>Username:</b>
      <%= @user.username %>
    </p>

    <% if ! @user.name.blank? %>
    <p>
      <b>Name:</b>
      <%= @user.name %>
    </p>
    <% end %>

    <p>
      <b>Member Since:</b>
      <%= @user.created_at %>
  </div>
  <div class='span8'>
    <h3><%= @user.username %>'s Levels</h3>
    <ul class='level-list'>
      <%= render :partial => 'shared/level_list_item', :collection => @user.levels %>
    </ul>
  </div>
</div>
