<%= form_for(@level, :class=>'form-horizontal') do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class='control-group'>
      <%= f.text_field :name, :placeholder=>'Name', :"data-bind" =>'value: name', :class => 'span6 pad-for-tray' %>
    </div>
    <div class='row'>
      <div class='span12'>

        <ul class='nav nav-tabs'>
          <li class='step-1-active active'><a href='#' id='draw'>Draw</a></li>
          <li class='step-2-active'><a href='#' id='editgoal'>Goal & Charges</a></li>
          <li class='step-3-active'><a href='#' id='test'>Test It</a></li>
        </ul>
        <div>
          <div id='tray-spacer' class='step-2'>
            <div id='step-2' class='step-2'>
              <div class='align-center'>
                <%= image_tag('/img/positive.png', :class => "charge-label") %> x <input type='text' id='positives' value='3' class='input-small'  />
              </div>
              <div class='align-center'>
                <%= image_tag('/img/negative.png', :class => "charge-label") %> x <input type='text' id='negatives' value='3' class='input-small' />
              </div>
            </div>
          </div>
          <div id='editor'></div>
        </div>
        <div id='game'></div>
        <div id='controls' class='editor-controls pad-for-tray'>

          <div id='step-3' class='step-3 step-buttons'>
            <span class='pull-left'>
              <button type='button' class='btn' id='game-toggle'>Start</button>
              <button type='button' class='btn' id='game-reset'>Reset</button>
            </span>
            <span class='pull-right'>
              <button class='btn btn-primary' id='create'>Save</button>
            </span>
          </div>
        </div>

      </div>
    </div>

<% end %>

<script type='text/javascript' src='/javascripts/newlevel.js'></script>
