<% content_for :js do %>
  <%= javascript_include_tag 'kinetic-v4.5.4.js' %>
  <%= javascript_include_tag 'electricfieldhockey.js' %>
<% end %>
<h1>Editing level</h1>

<%= render 'form' %>

<%= link_to 'Show', @level %> |
<%= link_to 'Back', levels_path %>
