<% @title = 'Levels' %>
<h1>Levels</h1>

<%= link_to 'Create a Level', new_level_path %>
<ul class='level-list featured'>
  <%= render :partial => "shared/level_list_item", :collection => @featured_levels, :locals => {:show_delete => false } %>
</ul>
<%= sorter_block(@sorter) %>

<ul class='level-list'>
  <%= render :partial => 'shared/level_list_item', :collection => @levels, :locals => { :show_delete => false } %>
</ul>
<%= will_paginate(@levels, :previous_label => "«", :next_label => "»", :class=>"pagination pagination-right") %>


