<% content_for :js do %>
  <%= javascript_include_tag 'kinetic-v4.5.4.js' %>
  <%= javascript_include_tag 'simulation.js' %>
  <%= javascript_include_tag 'game.js' %>
  <%= javascript_include_tag 'drawingboard.js' %>
  <%= stylesheet_link_tag 'drawingboard.min.css' %>
  <%= javascript_include_tag 'editor.js' %>
<% end %>
<h1>New Level</h1>
<%= render 'form' %>

