<% content_for :js do %>
  <%= javascript_include_tag 'kinetic-v4.5.4.js' %>
  <%= javascript_include_tag 'simulation.js' %>
  <%= javascript_include_tag 'game.js' %>
<% end %>
<p id="notice"><%= notice %></p>

<h3><%= @level.name %></h3>
<p><button id="stop" class='btn btn-primary'>Start</button>
  <button onclick="sim.reset()" class='btn'>Reset</button>
  <span class='pull-right attempt-count'>Attempts: <span id='attempts' class='badge'>0</span></span>
  </p>

<div id='playground'></div>
  
  <h3>Directions</h3>
  <ul>
    <li>Drag positive or negative charges onto the playing field</li>
    <li>Press "Toggle" to start or stop the simulation</li>
    <li>Press "Reset" to return the puck to the starting position</li>
    <li>Try to guide the puck to the green goal</li>
  </ul>

<script type='text/javascript'>
    var sampleLevel = <%= raw(@level.json.to_json) %>;


    var sim = null;
    var losses = 0;

    EFH.createGame({
      container: 'playground',
    }, function( game ) {
      sim = game;
      sim.init( sampleLevel );

      sim.on('lose', function(){
        losses++;
        $('#attempts').text(losses);
        console.log('losses', losses);
      });

      sim.on('win', function() {
        var _gaq = window._gaq || [];
        _gaq.push(['_trackEvent', 'Game Play', 'Win', 'Losses', losses]);
        alert('You got it! It only took ' + (losses + 1) + ' tries!');
      });

      sim.on('stop', function() {
        $('#stop').text('Start');
      });

      sim.on('start', function(){
        $('#stop').text('Stop');
      });

      $('#stop').click(function() {
        if ($(this).text() == 'Start') {
          sim.reset();
        }
        sim.toggle();
      })
    });
</script>
