<% content_for :js do %>
  <%= javascript_include_tag 'kinetic-v4.5.4.js' %>
  <%= javascript_include_tag 'simulation.js' %>
  <%= javascript_include_tag 'game.js' %>
<% end %>
<p id="notice"><%= notice %></p>

<h3><%= @level.name %></h3>

<p><button id="stop" class='btn btn-primary'>Start</button>
  <button onclick="sim.reset()" class='btn'>Reset</button>
  <% if signed_in? && current_user?(@level.creator) %>
  <span class='level-edit-link'><%= link_to 'Edit', edit_level_path(@level) %></span>
<% end %>
  <span class='pull-right attempt-count'>Attempts: <span id='attempts' class='badge attempts'>0</span></span>
  </p>

<div id='playground'></div>
  
  <h3>Directions</h3>
  <ul>
    <li>Drag positive or negative charges onto the playing field</li>
    <li>Press "Toggle" to start or stop the simulation</li>
    <li>Press "Reset" to return the puck to the starting position</li>
    <li>Try to guide the puck to the green goal</li>
  </ul>

<div class='modal hide fade' id='win-modal'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h3>You Won!</h3>
  </div>
  <div class='modal-body'>
    <p>Congratulations! You successfully hit the goal!</p>
    <p>It only took you <span id='attemps' class='attempts'>0</span> attempts!</p>
  </div>
  <div class='modal-footer'>
    <a href='#' class='btn btn-primary' data-dismiss='modal'>Close</a>
  </div>
  <div>
</div>

<script type='text/javascript'>
    var sampleLevel = <%= raw(@level.json.to_json) %>;


    var sim = null;
    var attempts = 0;
    var gameStartTime = new Date().getTime();

    var recordWin = function() {
      var post = {
        level_win : {
          level_id : <%= raw(@level.id) %>,
          level_json : JSON.stringify( sampleLevel ),
          attempts : attempts,
          time : new Date().getTime() - gameStartTime
        }
      };

      $.ajax({
        type: 'POST',
        url : '<%= level_wins_path %>',
        data: post,
      });
    }

    EFH.createGame({
      container: 'playground',
    }, function( game ) {
      sim = game;
      sim.init( sampleLevel );

      sim.on('lose', function(){
        
      });

      sim.on('win', function() {
        var _gaq = window._gaq || [];
        ga('send', 'event', 'Game Play', 'Win', 'attempts', attempts);
        recordWin();
        $('#win-modal').modal();
      });

      sim.on('stop', function() {
        $('#stop').text('Start');
      });

      sim.on('start', function(){
        $('#stop').text('Stop');
        attempts++;
        $('.attempts').text(attempts);
      });

      $('#stop').click(function() {
        if ($(this).text() == 'Start') {
          sim.reset();
        }
        sim.toggle();
      })
    });
</script>
