<h1>Listing level_sets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @level_sets.each do |level_set| %>
  <tr>
    <td><%= level_set.name %></td>
    <td><%= link_to 'Show', level_set %></td>
    <td><%= link_to 'Edit', edit_level_set_path(level_set) %></td>
    <td><%= link_to 'Destroy', level_set, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Level set', new_level_set_path %>
